# Dont commit files
.DS_Store
__pycache__
vifminfo
vifminfo.json
fish/fish_variables
fishd.*

# Dont commit these auto generate folder
.mono/
coc/
configstore/
GameMakerStudio2/
gatsby/
gh/
gops/
gtk-2.0/
htop/
iterm2/
localStoragePy/
neofetch/
NuGet/
Microsoft\VisualStudio Services/
rtags/
stetic/
qutebrowser/bookmarks/
Unreal Engine/
xbuild/
fish/completions/
iterm2/
